/* Estilos del header y logos */
body {
  margin: 8px; }

header {
  background-color: #a4c5cc50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 5px 10%;
  margin-bottom: 5px; }
  header .logo {
    cursor: pointer; }
    header .logo img:hover {
      transform: scale(1.3); }
    header .logo img {
      height: 70px;
      width: auto;
      transition: all 0.3s; }
  header .wts {
    height: 50px;
    width: 50px; }

/* Titulos */
.princ {
  color: #e38100;
  font-family: 'Asap', sans-serif; }

/* Efectos para el navegador */
.navbar {
  background-color: #0b0b8f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Asap', sans-serif;
  margin-bottom: 5px; }
  .navbar li:hover {
    transform: scale(1.1); }
  .navbar li a:hover {
    color: #e38100; }
  .navbar a {
    font-size: 700;
    color: white; }

/* Efectos para el main */
main {
  padding: 10px;
  display: grid;
  grid-template-areas: "Novedades" "Carrusel" "Product2" "Product3"; }
  main .Novedades {
    grid-area: Novedades; }
    main .Novedades div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap; }
      main .Novedades div img {
        margin: 10px;
        height: 220px;
        width: 270px;
        border-radius: 5px;
        box-shadow: 0 2 2 black;
        overflow: hidden;
        text-align: center;
        transition: all 0.15s;
        border: solid;
        border-color: #505d6a; }
      main .Novedades div img:hover {
        border: 1px solid #ea8912;
        transform: scale(1.1);
        box-shadow: 0 12px 16px black; }
    main .Novedades .contt {
      margin: 15px; }
    main .Novedades .card {
      margin-right: 20px;
      margin-bottom: 20px; }
  main .Product2 {
    grid-area: Product2; }
    main .Product2 div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap; }
      main .Product2 div img {
        margin: 10px;
        height: 220px;
        width: 270px;
        border-radius: 5px;
        box-shadow: 0 2 2 black;
        overflow: hidden;
        text-align: center;
        transition: all 0.15s;
        border: solid;
        border-color: #505d6a; }
      main .Product2 div img:hover {
        border: 1px solid #ea8912;
        transform: scale(1.1);
        box-shadow: 0 12px 16px black; }
    main .Product2 .card {
      margin-bottom: 20px;
      margin-right: 20px; }
  main .Product3 {
    grid-area: Product3; }
    main .Product3 div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap; }
      main .Product3 div img {
        margin: 10px;
        height: 220px;
        width: 270px;
        border-radius: 5px;
        box-shadow: 0 2 2 black;
        overflow: hidden;
        text-align: center;
        transition: all 0.15s;
        border: solid;
        border-color: #505d6a; }
      main .Product3 div img:hover {
        border: 1px solid #ea8912;
        transform: scale(1.1);
        box-shadow: 0 12px 16px black; }
    main .Product3 .card {
      margin-right: 20px;
      margin-bottom: 20px; }
  main .carrusel {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .carrusel .slide {
      margin-top: 10px;
      width: 300px; }
      main .carrusel .slide img {
        background-color: slategray;
        height: 45vh;
        width: 200px; }

/* Estilos para unete */
.nego {
  display: flex;
  justify-content: center; }
  .nego img {
    height: 250px;
    width: 450px;
    margin-top: 35px;
    margin-bottom: 35px; }

.unirse {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .unirse .mb-3 input {
    display: flex;
    justify-content: center; }

/* Estilos para sobre nos */
.nos {
  display: flex;
  justify-content: row;
  padding: 30px;
  align-items: center;
  font-family: 'Asap', sans-serif;
  margin-right: 25px; }
  .nos .descrip img {
    height: 450px;
    width: 350px; }
  .nos .descrip h2 {
    justify-content: space-around;
    font-size: 50px;
    color: #e38100; }

/* Estilo para el contacto */
.contact {
  display: flex; }

/* Estilo para el footer */
footer {
  background-color: #3c3c3c;
  font-family: 'Asap', sans-serif;
  padding: 15px;
  display: grid;
  grid-template-areas: "pie1 pie2 pie3"; }
  footer .pie1 {
    grid-area: pie1;
    display: flex;
    flex-direction: column; }
  footer .pie2 {
    grid-area: pie2;
    display: flex;
    flex-direction: column; }
    footer .pie2 .lis {
      color: #e38100; }
      footer .pie2 .lis a {
        color: white;
        text-decoration: none; }
  footer .pie3 {
    grid-area: pie3;
    display: flex;
    flex-direction: column; }
    footer .pie3 img {
      width: 45px;
      height: 45px;
      margin-right: 10px; }

/* Medias queris*/
@media screen and (max-width: 1024px) {
  footer {
    display: grid;
    grid-template-areas: "pie1" "pie2" "pie3"; }
    footer .pie1 {
      margin-bottom: 15px; }
    footer .pie2 {
      margin-bottom: 15px; } }

@media screen and (max-width: 1024px) {
  .header h1 {
    font-size: 1.2em;
    text-align: center;
    margin-left: 5px; } }

@media screen and (max-width: 1024px) {
  .logo img {
    height: 30px;
    width: auto;
    transition: all 0.3s; } }

@media screen and (max-width: 1024px) {
  .header a {
    display: none; } }

@media screen and (max-width: 1024px) {
  main .descrip {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) {
  .nos {
    flex-direction: column; } }
