.nego{
    @include une;
    .img{
        height: $heights*25;
        width: $widths*45;
        margin-top: $marg*7;
        margin-bottom: $marg*7;
    }
}

.unirse{
    @include une;
    flex-direction: column;
    align-items: center;

    .mb-3 input{
        display: flex;
        justify-content: center;
    }

}